<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='summary.css') }}">
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

    {% if session.income is defined %}
        <p>Income Entered: {{ session['income'] | format_price() }}</p>
    {% else %}
        <p>Income Entered: $0.00</p>
    {% endif %}

    {% if session.expense is defined %}
        <p>Expense Entered: {{ session['expense'] | format_price() }}</p>
    {% else %}
        <p>Expense Entered: $0.00</p>
    {% endif %}


    {% if session.agent_tot_inc is defined %}
        <p>Total Income: {{ session['agent_tot_inc'] | format_price() }}</p>
    {% else %}
        <p>Total Income: $0.00</p>
    {% endif %}

    {% if session.agent_tot_exp is defined %}
        <p>Total Expense: {{ session['agent_tot_exp'] | format_price() }}</p>
    {% else %}
        <p>Total Expense: $0.00</p>
    {% endif %}

    {% if session.agent_net_tot is defined %}
        <p>Net Total: {{ session['agent_net_tot'] | format_price }} </p>
    {% else %}
        <p>Net Total: $0.00</p>
    {% endif %}




    <h2>Income Logs: </h2>
    {% for i in incomes_list %}
        <p>Income #{{ loop.index }}: {{ i.get_amount() }} Description: {{ i.description }} </p>
    {% endfor %}

    <h2>Expense Logs: </h2>
    {% for e in expenses_list %}
        <p>Expense #{{ loop.index }}: {{ e.get_amount() }} Description: {{ e.description }} </p>
    {% endfor %}

    {% endblock %}

</body>
</html>
